@charset "utf-8";
@import url("./normalize.css");
@import url("./reset.css");
@import url("./fonts.css");

/* Reset CSS */

*, *::before, *::after {
  box-sizing: border-box;
}

/* 숨김 콘텐츠 */

legend, .readable-hidden {
  position: absolute;
  font-size: 0;
  line-height: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 기본 스타일 */

html {
  font-size: 10px;
}
body {
  font-family: "NoTo Sans Regular", sans-serif;
  color: #181818;
  background-color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f00;
}

/* 레이아웃 공통 */

.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

/* 반응형 컨텐츠 */

.responsive {
  max-width: 100%;
  height: auto;
}

/* 모바일 & 데스크탑 */


/* 컨텐츠 제목 공통 */

.content-heading {
  background: url("images/sprite_main.png") no-repeat;
  min-height: 60px;
  padding-left: 65px;
  font-family: "Noto Sans Bold";
}
.content-heading span {
  display: block;
}
.recommend-book-heading {
  background-position: 0 0;
}
.recommend-book-heading span {
  color: #abd375;
}
.news-heading {
  background-position: 0 -230px;
}
.news-heading span {
  color: #e8ca58;
}
.board-heading {
  background-position: 0 -115px;
}
.board-heading span {
  color: #c7b39a;
}
.favorite-site-heading {
  background-position: 0 -345px;
}
.favorite-site-heading span {
  color: #eea60a;
}
.twitter-heading {
  background-position: 0 -460px;
}
.twitter-heading span {
  color: #6aaee6;
}

/*  추천 서적 */

.recommend-book-cover {
  margin: 15px auto;
  width: 70%;
  text-align: center;
}
.recommend-book-detail {
  text-align: center;
}
.recommend-book-author, .recommend-book-author-name {
  display: inline;
}
.recommend-book-grade {
  font-size: 2rem;
  color: #adb375;
}
.recommend-book-surmary {
  text-align: left;
  margin-top: 15px;
}

/* 트위터 */

.twitter-user {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}
.twitter-profile {
  float: right;
  width: 20%;
  text-align: right;
  margin-top: 15px;
  margin-left: 10px;
}
.twitter-profile img {
  border-radius: 50%;
  border: 1px solid #000;
  padding: 5px;
}
.twitter-date {
  display: block;
  clear: both;
  text-align: right;
}
.footer-bg {
  background: #988574;
  color: #fff;
}
.footer {
  padding: 30px 0;
}
@media screen and (max-width:999px) {
  body {
    font-size: 1.4rem;
  }
  /* 모바일 레이아웃 공통 */
  .header, .main-menu, .slogan, .footer {
    width: 100%;
    padding: 0 20px;
  }
  /* 모바일 헤더 */
  .header {
    background: #38302e;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  /* 멤버 링크 */
  .member {
    background: #988574;
    margin: 0 -20px;
    order: -1;
    text-align: right;
    padding: 10px 10px;
  }
  .member li {
    display: inline-block;
  }
  .member a {
    padding: 8px 10px;
  }
  .member a:hover, .member a:focus {
    color: #523325;
  }
  .logo {
    padding: 10px 0;
  }
  .search-form {
    padding: 10px 0 20px;
  }
  .search {
    width: calc(100% - 40px);
    margin-right: 6px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 2px 15px;
  }
  .btn-search {
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background: transparent;
  }
  .btn-search::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("images/btn_search.png") no-repeat 0 0 /100%;
  }
  /* 모바일 네이게이션 */
  /* 메인 메뉴 제어를 위한 버튼 */
  .menubar-container {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 30px;
    height: 30px;
    overflow: hidden;
  }
  .btn-menubar {
    width: 100%;
    height: 100%;
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
  }
  .menubar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .menubar-top {
    top: 0;
  }
  .menubar-middle {
    top: 50%;
    transform: translateY(-50%);
  }
  .menubar-bottom {
    top: 100%;
    transform: translateY(-100%);
  }
  .menubar-act .menubar-top {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -3px;
  }
  .menubar-act .menubar-middle {
    transform: translate(-100%, -50%);
  }
  .menubar-act .menubar-bottom {
    top: 50%;
    transform: rotate(-45deg);
    margin-top: -3px;
  }
  /* 메인 메뉴 */
  .menu-act {
    transform: translateX(0) !important;
  }
  .main-menu {
    background: rgba(0, 0, 0, 0.85);
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    padding-top: 20px;
    transform: translate(-100%);
    transition: all 0.2s;
  }
  .main-menu li {
    cursor: pointer;
    margin: 10px 0;
  }
  .main-menu span {
    font-family: "NoTo Sans Bold";
    font-size: 1.5rem;
  }
  .sub-menu {
    display: none;
    margin: 10px 0 10px 20px;
  }
  .sub-menu-act {
    display: block !important;
  }
  /* 메인 컨텐츠 */
  .main-content {
    padding: 15px 20px 0;
  }
  /* 메인 컨텐츠 섹션 공통 */
  .recommend-book, .news, .board, .favorite-site, .twitter {
    border-bottom: 1px solid #aaa;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  /* 메인컨텐츠 제목 글자 크리 */
  .content-heading {
    font-size: 1.6rem;
  }
  /* 슬로건 */
  .slogan {
    margin: 15px 0;
  }
  .slogan-heading {
    position: absolute;
    font-size: 0;
    line-height: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
  }
  .slogan-content p {
    font-weight: bold;
  }
  /* 모바일 푸터 */
  .footer {
    padding: 20px;
  }
  address span {
    display: none;
  }
  .copyright {
    margin-top: 15px;
  }
}

/* 데스크 탑 */

@media screen and (min-width:1000px) {
  body {
    font-size: 1.6rem;
  }
  .header, .main-menu, .main-content, .slogan, .footer {
    width: 1000px;
    margin: 0 auto;
  }
  /*=============================================
  =            헤더            =
  =============================================*/
  .header {
    position: relative;
    padding-bottom: 15px;
  }
  /*----------  로고  ----------*/
  .logo {
    /* 로고 영역에 배경색 지정 */
    position: absolute;
    top: 30px;
    left: 30px;
  }
  /*----------  멤버 링크 ----------*/
  .member {
    display: flex;
    justify-content: flex-end;
    padding: 2px 0;
  }
  .member a {
    padding: 8px 10px;
    margin-left: 5px;
    display: block;
  }
  /*----------  검색 폼  ----------*/
  .search, .btn-search {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 2px 15px;
    height: 30px;
    vertical-align: middle;
  }
  .search-form {
    text-align: right;
    margin-top: 15px
  }
  .search {
    width: 400px;
  }
  .btn-search {
    background-color: #988574;
    color: #fff;
  }
  /*=====  End of 헤더  ======*/
  /*=============================================
  =            네비게이션            =
  =============================================*/
  .menubar-container {
    display: none;
  }
  .navigation {
    background-color: #988574;
    padding: 15px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  /*----------  메인 메뉴  ----------*/
  .main-menu {
    display: flex;
    justify-content: space-around;
    color: #fff;
  }
  .main-menu span {
    font-family: "Noto Sans Bold";
    font-size: 1.8rem;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  }
  .sub-menu {
    margin: 15px 0 0 15px;
  }
  .sub-menu li {
    margin: 2px;
  }
  .sub-menu a {
    display: block;
    padding: 5px 0;
  }
  .sub-menu a:hover, .sub-menu a:focus {
    color: #523352;
  }
  /*=====  End of 네비게이션  ======*/
  /* 메인 콘텐츠 */
  .main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* 메인 컨텐츠 섹션 공통*/
  .recommend-book, .news, .board, .favorite-site, .twitter {
    padding: 20px;
  }
  /* 메인컨텐츠 제목 글자 크리 */
  .content-heading {
    font-size: 1.8rem;
  }
  /* 추천 서적 */
  .recommend-book {
    width: 350px;
  }
  /* 새소식 */
  .news {
    width: 650px;
  }
  /* 게시판 */
  .board {
    width: 350px;
  }
  /* 인기 사이트 */
  .favorite-site {
    width: 250px;
    order: 1;
  }
  /* 트위터 */
  .twitter {
    width: 400px;
  }
  /* 슬로건 */
  .slogan {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  .slogan-heading {
    position: relative;
    width: 110px;
    height: 83px;
    padding: 20px;
    bottom: -25px;
  }
  .slogan-heading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/coffee.png") no-repeat;
  }
  .slogan-content {
    width: calc(100% - 180px);
  }
  .slogan-content q {
    font-weight: bold;
  }
  /* 푸터 */
  .footer {
    margin-left: 160px;
  }
  .footer span {
    margin-right: 20px;
  }
}